name: Prepare Release

on:
  push:
    branches: [master]

permissions:
  contents: write
  pull-requests: write

jobs:
  prepare-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: knope-dev/action@v2.1.0
        with:
          version: 0.22.1

      - run: knope prepare-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
